<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384026701349-fl9sfa6v7r0o1d3fkj3ck8aqh695p8r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384026701349-fl9sfa6v7r0o1d3fkj3ck8aqh695p8r2</string>
	<key>API_KEY</key>
	<string>AIzaSyCP0_aB1KynJ7sa6bJ2E8YOid0NS4_FUyY</string>
	<key>GCM_SENDER_ID</key>
	<string>384026701349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mthofstadter.SC-Loginfinal</string>
	<key>PROJECT_ID</key>
	<string>stoody-call</string>
	<key>STORAGE_BUCKET</key>
	<string>stoody-call.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384026701349:ios:829fa441b771ccfc3719cc</string>
	<key>DATABASE_URL</key>
	<string>https://stoody-call.firebaseio.com</string>
</dict>
</plist>